<main id="about">
    <section>
        <h1>SOBRE O JOGO</h1>
        
        <p>O Jogo Subi no Ônibus se trata de uma aplicação criada com o esforço voluntário dos alunos de Ciência da Computação da Universidade de São Paulo do Instituto de Ciências Matemáticas e de Computação para a <a href="https://semcomp.icmc.usp.br/" target="_blank">Semana de Computação (SEMCOMP)</a> em parceria do grupo homônimo junto ao grupo de desenvolvimento de jogos <a href="https://www.fog.icmc.usp.br/" target="_blank">Fellowship of the Gaming</a>.</p>
        
        <p>O jogo, que não possui fins lucrativos, é utilizado como parte das atrações da semana e não possui restrições de usuários, bastando o cadastro no jogo e estando ciente dos <a href="#termos-uso">Termos de Uso</a> e suas <a href="#privacidade">Políticas de Privacidade</a> listadas a seguir. O usuário pode optar por acessar o jogo via <a href="https://fog-icmc.itch.io/semcomp24" target="_blank">Navegador</a> ou baixá-lo na Google Play Store.</p>
    </section>

    <section id="termos-uso">
        <h2>TERMOS DE USO</h2>

        <h3>RESPONSABILIDADES DO USUÁRIO</h3>
        
        <p>Ao se cadastrar no jogo Subi no Ônibus o usuário atesta que leu e concorda com as políticas de privacidade descritas abaixo e que irá acessar as funcionalidades da aplicação única e exclusivamente por meio das aplicações disponibilizadas oficialmente (isto é: via aplicativo android o via a plataforma de jogos itch.io).</p>
        
        <p>O usuário também atesta que não realizará ações de má fé para tentar violar a segurança do site por meio de ações que possam causar indisponibilidade do serviço para outros usuários ou adulterar os dados sob a penalidade de ter seu cadastro removido e restringido da possibilidade de criação de novas contas.</p>

        <h3>SERVIÇOS OFERECIDOS</h3>
        
        <p>A aplicação tem como suas principais funcionalidades ações ligadas à registro e autenticação além de outras funcionalidades básicas para o bom funcionamento do jogo como, por exemplo, registro de resultados de partidas, compra de melhorias para o jogador e  exibição do ranking de jogadores com maiores pontuações.</p>

        <p>Vale ressaltar que nenhuma dessas funcionalidades compartilha dados com terceiros e nem envolve transações financeiras. Em caso de problemas com algum dos serviços pedimos que o usuário entre em contato com algum membro das organizações responsáveis pelo jogo.</p>
    </section>

    <section id="privacidade">
        <h2>POLÍTICAS DE PRIVACIDADE</h2>

        <h3>DADOS COLETADOS PELO JOGO</h3>

        <p>Para a utilização do jogo é necessário a autenticação do usuário por meio de alguma das plataformas disponibilizadas (no momento apenas por meio de uma Google Account) das quais são armazenados os seguintes dados fornecidos pela mesma:</p>

        <ul>
            <li>Nome completo</li>
            <li>E-mail</li>
            <li>Identificador cedido pela plataforma (ie: google_id)</li>
        </ul>

        <p>Além disso, durante os acesso ao sistema são salvos em nossos registros locais algumas informações adicionais, sendo elas:</p>

        <ul>
            <li>Informações do dispositivo utilizado para o acesso</li>
            <li>Data e Hora de cada acesso realizado</li>
            <li>Endereço de IP de origem dos acessos</li>
        </ul>

        <h3>COMO UTILIZAMOS OS DADOS</h3>

        <p>Os dados pessoais são utilizados para garantir o controle de acesso da aplicação e utilizados para identificar e atribuir corretamente as ações realizadas pelos usuários. Os dados <strong>e-mail</strong> e <strong>identificador</strong> são apenas de uso interno enquanto o nome do jogador pode ser exibido publicamente no ranking para todos os jogadores.</p>

        <p>Por outro lado, os dados de acesso são utilizados para levantamento de métricas e controle da aplicação não sendo disponibilizados para terceiros e armazenados temporariamente pela aplicação.</p>

        <h3>ARMAZENAMENTO E EXCLUSÃO DE DADOS</h3>

        <p>Para maior segurança dos dados permitimos apenas acessos à base vindo de nosso servidor e seguindo as medidas de segurança para impedir a adulteração ou acesso indevido aos dados pessoais dos usuários.</p>

        <p>Os dados serão mantidos ao menos até a data final da realização da Semcomp 24 (01/09/2021) podendo ser realizada a exclusão definitiva dos dados cadastrados pelo jogo a qualquer momento mediante solicitação via E-mail com os membros da organização (enviar e-mail com assunto "Exclusão de Dados - Subi no Ônibus" para algum dos <a href="#fale-conosco">contatos disponibilizados</a>).</p>

        <h3>COMPARTILHAMENTO DE DADOS</h3>

        <p>Os dados coletados pela aplicação não são compartilhados para nenhuma organização além da responsável pela criação da aplicação e portanto nenhum dos dados são cedidos nem comercializados para terceiros.</p>

        <h3>COOKIES E TECNOLOGIAS DE MONITORAMENTO</h3>

        <p>Para permitir a autenticação do usuário e controle de suas ações do sistema o aplicativo utiliza de cookies (arquivos salvos no navegador ou aplicativo de acesso e que são enviados juntamente com as requisições do usuário e não contém informações sensíveis nem dão acesso ao dispositivo do usuário). Nenhum outro cookie é utilizado e nem possui como finalidade fins lucrativos ou rastreamento de usuários para campanhas publicitárias.</p>
    </section>

    <section id="fale-conosco">
        <h2>FALE CONOSCO</h2>

        <p>Encontrou algum erro na nossa aplicação? Deseja solicitar a remoção dos seus dados na base de dados? Possui sugestões ou deseja algum tipo de informação? Entre em contato com a nossa equipe por meio dos seguintes canais:</p>

        <ul>
            <li><strong>E-mails</strong> (Indique o nome do jogo no subject da aplicação)</li>
            <ul>
                <li>fog@icmc.usp.br</li>
                <li>tmsilva11@usp.br (Tiago Marino, Supervisor do Jogo Subi no Ônibus)</li>
                <li>gabrielvanloon@usp.br (Gabriel Van Loon, Product Owner)</li>
            </ul>
            
            <li><strong>Telegram</strong></li>
            <ul>
                <li>@TiagoTijolo (Tiago Marino, Supervisor do Jogo Subi no Ônibus)</li>
                <li>@gabrielvanloon (Gabriel Van Loon, Product Owner)</li>
            </ul>
        </ul>

    </section>
</main>