@font-face {
    font-family: Traffic;
    src: url(font/TRAFFIC3.TTF);
}

body {
    background: url("img/ARTEMENUINICIAR.png") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.div-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 60%;
}

.div-text {
    font-family: Traffic;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 70%;
    margin-bottom: 10px;
    color: white;
    background-color: green;    
    border: 2px solid white;
    border-radius: 5px;
}

button {
    font-family: Traffic;
    height: 50px;
    width: 70%;
    color: white;
    background-color: green;
    border: 2px solid white;
    border-radius: 5px;
}