/* General Configurations */
@font-face { font-family: Traffic; src: url(font/TRAFFIC3.TTF); }
@font-face { font-family: TrafficText; src: url(font/TRAFFIC2_0.ttf); }

html { scroll-behavior: smooth; }

body { 
    background: url("images/bg.png") no-repeat 30% bottom fixed;
    background-size: cover;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin:  0;
    padding: 0;
    min-height: 100vh;

    font-family: Traffic;
    color: #ffffff;
    
}

/* Header */
header img { 
    max-height: 300px;
    max-width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

/* Footer */
footer { 
    width: 100%;
    text-align: center;
    background-color: #2d383c;
    border-top: solid 2px #0091a8;
}

footer a { color: #fff; text-decoration: none; }
footer a:hover { text-decoration: underline; }

/* */
main { 
    flex-grow: 1;
}

/* Main - Informações */
main#about { 
    margin: 40px;
    padding: 40px;
    max-width: 1000px;

    color: #333;
    background-color: #fff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 3px;
}

main#about section { 
    margin-top: 30px;
    padding-top: 30px;
    border-top: solid 1px #ccc;
}
main#about section:first-child { 
    margin-top: 0; 
    padding-top: 0; 
    border-top: none;
}
main#about section *:first-child { margin-top: 0; }

main#about p { font-family: TrafficText; }
main#about a { color: #1f71aa; text-decoration: none; }
main#about a:hover { text-decoration: underline; }